node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

coverage/

node_modules/
jspm_packages/

.npm

.eslintcache

.stylelintcache

docker-compose.override.yml
.docker/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build/
public/static/

.env

data/db/
dump/

data/rabbitmq/

websockets/

.DS_Store
Thumbs.db

*.tsbuildinfo
